body{
    margin: 0;
    background: #f5f5f5;
}
.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    background: black;
}
.sidebar h3{
    color: white;
}
.sidebar a{
    color: white;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.sidebar a:hover{
    background: #0d6efd;
}
.main-content{
    margin-left: 250px;
}
.topbar{
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.dashboard-card{
    transition: all 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}
.dashboard-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.18) !important;
}